@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin:0; 
padding:0;
box-sizing:border-box;
}  

body{
background:#4285FA;        
font-family: 'poppins', sans-serif;
}

.container{
height:405px; 
width:350px;
background:white;
border-radius:5px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .app-name{
height:50px; 
width:100%;
background:white;
border-top-left-radius:5px;
border-top-right-radius:5px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
display:flex;
align-items:center;
}

.container .app-name h4{
margin-left:20px;
font-weight:600;
}

.container .password-box{
height:50px;  
width:315px;
border:1px solid grey;
position:relative;
top:25px;
left:18px;
display:flex;
align-items:center;
border-radius:3px;
}

.container .password-box input{
all:unset; 
height:45px;
width:260px;
padding-left:10px;
font-weight:500;
}

.container .password-box #copy-btn{
position:absolute;   
right:15px;
font-size:23px;
cursor:pointer;
}

.container .indicator{
height:5px;
width:315px;
position:relative;
top:35px;
left:18px;
background:lightgrey;
border-radius:30px;
transition:all .2s;
}

.container .indicator#weak::before,.container .indicator#medium::before,.container .indicator#strong::before{
content:"";        
background:red;
position:absolute;
height:5px;
width:33%;
border-radius:30px;
transition:all .2s;
}

.container .indicator#medium::before{
background:orange;  
width:66%;
}

.container .indicator#strong::before{
background:green;      
width:100%;
}

.container .passLength{
height:50px;    
width:315px;
position:relative;
top:50px;
left:18px;
}

.container .passLength > input{
-webkit-appearance:none;
height:5px;
width:310px;
background:lightgrey;
border-radius:30px;
cursor:pointer;
}

.container .passLength > p{
font-size:14px;
font-weight:500;
position:relative;
top:5px;
}

.container .passLength > span{
position:absolute; 
top:7px;
right:10px;
font-size:14px;
font-weight:500;
}

.container .passLength > input::-webkit-slider-thumb{
-webkit-appearance:none;
height:15px;
width:15px;
background:white;
border-radius:100%;
border:4px solid #4285FA;
cursor:pointer;
}

.container .password-setting{
height:130px;    
width:100%;
position:relative;
top:48px;
}

.container .password-setting > p{
margin-left:17px; 
font-size:14px;
font-weight:500;
margin-top:13px;
}

.container .password-setting > .lowercase-box,.uppercase-box,.numbers-box,.symbols-box{
height:50px;
width:50%;
float:left;
display:flex;
align-items:center;
padding-left:8px;
}

.lowercase-box > label,.uppercase-box > label,.numbers-box > label,.symbols-box > label{
margin-left:7px;   
font-size:13px;
}

.lowercase-box > input,.uppercase-box > input,.numbers-box > input,.symbols-box > input{
-webkit-appearance:none;
height:16px;
width:16px;
border:1px solid grey;
margin-left:10px;    
border-radius:1px;
cursor:pointer;
}

.lowercase-box > input:checked,.uppercase-box > input:checked,.numbers-box > input:checked,.symbols-box > input:checked{
border:1px solid #4285FA;        
transition:all .2s;
}

.lowercase-box > input::before,.uppercase-box > input::before,.numbers-box > input::before,.symbols-box > input::before{
content:"\e5ca";
font-family: "Material Icons";
position:absolute;
color:#4285FA;
font-size:18px;
margin-top:-2px;
margin-left:-1px;
display:none;
}

.lowercase-box > input{
pointer-events:none;   
}

.lowercase-box > input:checked::before,.uppercase-box > input:checked::before,.numbers-box > input:checked::before,.symbols-box > input:checked::before{
display:block;       
}

.container .generate-btn{
all:unset; 
background:#4285FA;
color:white;
text-transform:uppercase;
padding:8px;
width:300px;
position:absolute;
left:50%;
bottom:0px;
transform:translate(-50%,-50%);
text-align:center;
border-radius:3px;
cursor:pointer;
}

::selection{
color:white;
background:#4285FA;        
  }
